Importamos las variables requeridas

In [61]:
import pandas as pd
import math

data = {
    "link":"https://datosabiertos.impi.gob.mx/IMPICifras/Proteccion01.csv",
    "identificador":"Proteccion"
}

df=pd.read_csv(data['link'], encoding ="ISO-8859-1", delimiter=',', header = None)

In [62]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10
0,ï»¿Solicitudes de declaraciÃ³n administrativa ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Administrative Declaration Applications / 2001...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AÃ±o/\nYear,Total/\nTotal,Procesos/ \nProcedures,NaN,NaN,PrevenciÃ³n/ \nPrevention,NaN,Derecho de Autor/ \nCopyright,NaN,Medidas TecnolÃ³gicas/\nTechnological Measures,Marcas Notorias/ \nWell Known trademarks
4,NaN,NaN,Nulidad/\nNullity,Caducidad/\nNone-Use,CancelaciÃ³n/\nCancellation,Infracciones/\nInfringement,Medidas Provisionales/\nProvisional Measures,Infracciones/\nInfringement,Medidas Provisionales/\nProvisional Measures,NaN,NaN

Método para eliminar columnas en pandas
    axis = 1 Elimina columnas
    axis = 0 Elimina filas
    inplace = True Guarda los cambios en el dataFrame

In [63]:
df.drop([0, 1, 2], axis=0, inplace = True)
df.head()

,0,1,2,3,4,5,6,7,8,9,10
3,AÃ±o/\nYear,Total/\nTotal,Procesos/ \nProcedures,NaN,NaN,PrevenciÃ³n/ \nPrevention,NaN,Derecho de Autor/ \nCopyright,NaN,Medidas TecnolÃ³gicas/\nTechnological Measures,Marcas Notorias/ \nWell Known trademarks
4,NaN,NaN,Nulidad/\nNullity,Caducidad/\nNone-Use,CancelaciÃ³n/\nCancellation,Infracciones/\nInfringement,Medidas Provisionales/\nProvisional Measures,Infracciones/\nInfringement,Medidas Provisionales/\nProvisional Measures,NaN,NaN
5,2001,"1,698",431,354,2,583,23,287,18,-,NaN
6,2002,"2,007",582,373,1,648,49,348,6,-,NaN
7,2003,"2,028",479,403,1,542,128,445,30,-,NaN

Comprobamos si la fila 4 columna 0 tiene o no tiene datos

In [64]:
data = pd.isna(df[0][4])
print(data)
comprobar = "Es un valor NaN" if data == True else "No es un valor NaN"
print(comprobar)

True
Es un valor NaN

In [66]:
x = 0
longitud = len(df.columns)
while x < longitud:
    if pd.isna(df[x][3]) == True:
        df[x][3] = df[x - 1][3]
    x = x + 1
df.head()

,0,1,2,3,4,5,6,7,8,9,10
3,AÃ±o/\nYear,Total/\nTotal,Procesos/ \nProcedures,Procesos/ \nProcedures,Procesos/ \nProcedures,PrevenciÃ³n/ \nPrevention,PrevenciÃ³n/ \nPrevention,Derecho de Autor/ \nCopyright,Derecho de Autor/ \nCopyright,Medidas TecnolÃ³gicas/\nTechnological Measures,Marcas Notorias/ \nWell Known trademarks
4,NaN,NaN,Nulidad/\nNullity,Caducidad/\nNone-Use,CancelaciÃ³n/\nCancellation,Infracciones/\nInfringement,Medidas Provisionales/\nProvisional Measures,Infracciones/\nInfringement,Medidas Provisionales/\nProvisional Measures,NaN,NaN
5,2001,"1,698",431,354,2,583,23,287,18,-,NaN
6,2002,"2,007",582,373,1,648,49,348,6,-,NaN
7,2003,"2,028",479,403,1,542,128,445,30,-,NaN

Renombramos las columnas

In [21]:
df.rename(columns={
    0: "Año",
    1: "Patentes",
    2: "Diseños industriales",
    3: "Modelos de utilidad",
    4: "Total"
}, inplace = True)
df.head()

    Año Patentes Diseños industriales Modelos de utilidad  Total
4  2001    2,431                    -                   -  2,431
5  2002    2,773                    -                   -  2,773
6  2003    2,956                  439                   -  3,395
7  2004    3,300                  607                   -  3,907
8  2005    3,815                  678                   -  4,493

Añadimos el identificador de la Base de datos

In [22]:
df["Relacion"] = data['identificador']
df.head()

    Año Patentes Diseños industriales Modelos de utilidad  Total     Relacion
4  2001    2,431                    -                   -  2,431  Invenciones
5  2002    2,773                    -                   -  2,773  Invenciones
6  2003    2,956                  439                   -  3,395  Invenciones
7  2004    3,300                  607                   -  3,907  Invenciones
8  2005    3,815                  678                   -  4,493  Invenciones

Reordenams las columnas

In [25]:
df = df[['Año', 'Relacion', 'Patentes', 'Diseños industriales', 'Modelos de utilidad', 'Total']]
df.head()

    Año     Relacion Patentes Diseños industriales Modelos de utilidad  Total
4  2001  Invenciones    2,431                    -                   -  2,431
5  2002  Invenciones    2,773                    -                   -  2,773
6  2003  Invenciones    2,956                  439                   -  3,395
7  2004  Invenciones    3,300                  607                   -  3,907
8  2005  Invenciones    3,815                  678                   -  4,493